<header>
  <h1>
    Spirit Animal Generator
  </h1>
</header>

<article>
  <form action=" https://pico.patrickhyatt.workers.dev" method="POST">
    <p>
      <label for="name">
        Pick your spirit animal
        <br />
        <select name="animal" title="Select an animal to generate an image of">
          @for (animal of animals; track animal) {
          <option [value]="animal">{{animal}}</option>
          }
        </select>
      </label>
    </p>

    <p>
      <label for="universe">
        Pick your destiny
        <br />
        <select name="universe" title="Select a fictional universe to put your animal in">
          @for (universe of universes; track universe) {
          <option [value]="universe">{{universe}}</option>
          }
        </select>
      </label>
    </p>

    <p style="text-align: right; padding-right: 40px;">
      <button type="submit">Do it</button>
    </p>
  </form>
</article>